In [2]:
import pandas as pd
import numpy as np

In [3]:
accounts=pd.read_csv('data/twm_accounts.csv',sep=';')

In [4]:
checking_acct=pd.read_csv('data/twm_checking_acct.csv',sep=';')

In [5]:
credit_acct=pd.read_csv('data/twm_credit_acct.csv',sep=';')

In [6]:
savings_acct=pd.read_csv('data/twm_savings_acct.csv',sep=';')

_______________

## Cleaning and transforming transactions Table

In [22]:
transactions_result = pd.read_csv('data/transactions_result.csv')

In [9]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1409 entries, 0 to 1408
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   acct_nbr          1409 non-null   int64
 1   cust_id           1409 non-null   int64
 2   acct_type         1409 non-null   object
 3   account_active    1409 non-null   object
 4   acct_start_date   1409 non-null   object
 5   acct_end_date     143 non-null    object
 6   starting_balance  1409 non-null   float64
 7   ending_balance    1409 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 88.2+ KB

## Identifying outliers in Accounts table

In [36]:
from scipy import stats

#Finding Z Score on Column
stats.zscore(accounts['ending_balance'])

#view the outliers
len(accounts['ending_balance'][(np.abs(stats.zscore(accounts['ending_balance'])) > 3)])

26

## Deleting outliers

In [30]:
accounts_clean=accounts[(np.abs(stats.zscore(accounts['ending_balance'])) <= 3)]
accounts_clean

,acct_nbr,cust_id,acct_type,account_active,acct_start_date,acct_end_date,starting_balance,ending_balance
0,13628063,1362806,SV,Y,10.12.1995,NaN,1430.22,284.58
1,4561143213627090,1362709,CC,Y,15.3.1993,NaN,266.34,496.15
2,4561143213628360,1362836,CC,Y,18.3.1992,NaN,55.90,1000.00
3,13633112,1363311,CK,Y,6.7.1995,NaN,11017.13,968.46
4,4561143213633610,1363361,CC,Y,17.6.1994,NaN,849.37,462.28
...,...,...,...,...,...,...,...,...
1404,4561143213625560,1362556,CC,N,20.1.1992,19.8.1995,1433.94,20.00
1405,4561143213626240,1362624,CC,Y,29.11.1990,NaN,632.75,1400.00
1406,4561143213628750,1362875,CC,Y,24.2.1989,NaN,2810.91,3000.00
1407,13626543,1362654,SV,Y,17.10.1992,NaN,784.53,622.46
1408,13627032,1362703,CK,Y,18.9.1994,NaN,3649.18,107.33

----------------------------------

## Deleting unwanted columns

In [34]:
accounts_result=accounts_clean[['acct_nbr','cust_id','acct_type','account_active','ending_balance']]
accounts_result

              acct_nbr  cust_id acct_type account_active  ending_balance
0             13628063  1362806      SV               Y           284.58
1     4561143213627090  1362709      CC               Y           496.15
2     4561143213628360  1362836      CC               Y          1000.00
3             13633112  1363311      CK               Y           968.46
4     4561143213633610  1363361      CC               Y           462.28
...                ...      ...       ...            ...             ...
1404  4561143213625560  1362556      CC               N            20.00
1405  4561143213626240  1362624      CC               Y          1400.00
1406  4561143213628750  1362875      CC               Y          3000.00
1407          13626543  1362654      SV               Y           622.46
1408          13627032  1362703      CK               Y           107.33

[1383 rows x 5 columns]

In [35]:
# exporting the cleaned data as a CSV file 
accounts_result.to_csv('data/accounts_result.csv',index=False)

-----------------------------

## Cleaning checking_acct Table

In [33]:
checking_acct=pd.read_csv('data/twm_checking_acct.csv',sep=';')

In [ ]:
checking_tran.describe()

In [ ]:
from scipy import stats

#Finding Z Score on Column
stats.zscore(checking_tran['tran_amt'])

#view the outliers
checking_tran['tran_amt'][(np.abs(stats.zscore(checking_tran['tran_amt'])) > 3)]

## Deleting outliers

In [25]:
checking_tran_clean=checking_tran[(np.abs(stats.zscore(checking_tran['tran_amt'])) <= 3)]
checking_tran_clean.head()

,cust_id,tran_id,tran_amt,principal_amt,interest_amt,new_balance,tran_date,tran_time,channel,tran_code
0,1363481,26,-0.15,-0.15,0.0,58.99,29.1.1995,,,FK
1,1362784,90,-200.00,-200.00,0.0,1380.69,2.7.1995,53313,A,WD
2,1363088,46,0.00,0.00,0.0,128.35,26.3.1995,834,A,IQ
3,1363306,32,-40.32,-40.32,0.0,433.06,29.1.1995,,P,WD
4,1363251,11,-87.88,-87.88,0.0,1919.55,8.2.1995,,P,WD

In [26]:
checking_tran_clean=checking_tran_clean[['cust_id','tran_amt']]

In [27]:
checking_tran_clean['tran_amt']=checking_tran_clean['tran_amt'].abs()

In [28]:
checking_tran_clean_df1 = checking_tran_clean.groupby(['cust_id']).count()
checking_tran_clean_df1= checking_tran_clean_df1.rename(columns={'tran_amt': 'checking_tran_count'})
checking_tran_clean_df1.head(2)

         checking_tran_count
cust_id
1362480                   93
1362484                   98

In [29]:
checking_tran_clean_df2 = checking_tran_clean.groupby(['cust_id']).mean()
checking_tran_clean_df2 = checking_tran_clean_df2.rename(columns={'tran_amt': 'checking_tran_avg'})
checking_tran_clean_df2.head(2)

         checking_tran_avg
cust_id
1362480          76.888710
1362484          71.330918

In [30]:
result_checking_tran_clean = pd.concat([checking_tran_clean_df1, checking_tran_clean_df2], axis=1, join="inner").reset_index()
checking_result=result_checking_tran_clean
checking_result.head()

   cust_id  checking_tran_count  checking_tran_avg
0  1362480                   93          76.888710
1  1362484                   98          71.330918
2  1362485                   96          80.350625
3  1362486                   25          43.256000
4  1362487                   52          62.400577

In [ ]:
# exporting the cleaned data as a CSV file 
checking_result.to_csv('data/checking_result.csv',index=False)

## Cleaning credit_tran Table

In [21]:
credit_tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20167 entries, 0 to 20166
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cust_id        20167 non-null  int64
 1   tran_id        20167 non-null  int64
 2   tran_amt       20167 non-null  float64
 3   principal_amt  20167 non-null  float64
 4   interest_amt   20167 non-null  float64
 5   new_balance    20167 non-null  float64
 6   tran_date      20167 non-null  object
 7   tran_time      20167 non-null  object
 8   channel        20167 non-null  object
 9   tran_code      20167 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 1.5+ MB

In [22]:
credit_tran.describe()

,cust_id,tran_id,tran_amt,principal_amt,interest_amt,new_balance
count,2.016700e+04,20167.000000,20167.000000,20167.000000,20167.000000,20167.000000
mean,1.362987e+06,28.543065,0.773537,-1.429786,2.208701,-1130.349441
std,2.934641e+02,21.946014,455.914969,451.535918,8.135091,1377.689559
min,1.362480e+06,1.000000,-1565.500000,-1565.500000,0.000000,-17300.000000
25%,1.362730e+06,12.000000,-166.790000,-166.790000,0.000000,-1411.110000
50%,1.362980e+06,24.000000,-67.510000,-67.510000,0.000000,-766.210000
75%,1.363249e+06,40.000000,0.000000,0.000000,0.000000,-334.290000
max,1.363492e+06,155.000000,17464.520000,17300.000000,164.520000,0.000000

In [23]:
from scipy import stats

#Finding Z Score on Column
stats.zscore(credit_tran['tran_amt'])

#view the outliers
credit_tran['tran_amt'][(np.abs(stats.zscore(credit_tran['tran_amt'])) > 3)]

100      2000.40
121      1428.75
212     -1565.50
240      5384.21
288      1708.41
          ...
19846    1534.27
20128    1653.86
20137    2071.77
20145    1784.96
20149    2573.78
Name: tran_amt, Length: 313, dtype: float64

## Deleting outliers

In [ ]:
credit_tran_clean=credit_tran[(np.abs(stats.zscore(credit_tran['tran_amt'])) <= 3)]

credit_tran_clean.head()

In [ ]:
credit_tran_clean=credit_tran_clean[['cust_id','tran_amt']]
credit_tran_clean.describe()

In [ ]:
credit_tran_clean['tran_amt']=credit_tran_clean['tran_amt'].abs()

In [ ]:
credit_tran_clean_df1 = credit_tran_clean.groupby(['cust_id']).count()
credit_tran_clean_df1= credit_tran_clean_df1.rename(columns={'tran_amt': 'credit_tran_count'})
credit_tran_clean_df1.head(2)

In [ ]:
credit_tran_clean_df2 = credit_tran_clean.groupby(['cust_id']).mean()
credit_tran_clean_df2= credit_tran_clean_df2.rename(columns={'tran_amt': 'credit_tran_avg'})
credit_tran_clean_df2.head(2)

In [ ]:
result_checking_tran_clean=pd.concat([credit_tran_clean_df1,credit_tran_clean_df2],axis=1, join="inner").reset_index()
credit_result=result_checking_tran_clean

In [ ]:
# exporting the cleaned data as a CSV file 
credit_result.to_csv('data/credit_result.csv',index=False)

## Cleaning savings_tran Table

In [ ]:
savings_tran.info()

In [ ]:
savings_tran.describe()

In [ ]:
from scipy import stats

#Finding Z Score on Column
stats.zscore(savings_tran['tran_amt'])

#view the outliers
savings_tran['tran_amt'][(np.abs(stats.zscore(savings_tran['tran_amt'])) > 3)]

## Deleting outliers

In [ ]:
savings_tran_clean=savings_tran[(np.abs(stats.zscore(savings_tran['tran_amt'])) <= 3)]

savings_tran_clean.head()

In [ ]:
savings_tran_clean=savings_tran_clean[['cust_id','tran_amt']]
#result_savings_tran_clean.describe()

In [ ]:
# Create a histogram of the tran_amt column
plt.hist(result_savings_tran_clean['tran_amt'])
plt.xlabel('tran_amt')
plt.ylabel('Frequency')
plt.show()

In [ ]:
savings_tran_clean['tran_amt']=savings_tran_clean['tran_amt'].abs()

In [ ]:
savings_tran_clean_df1 = savings_tran_clean.groupby(['cust_id']).count()
savings_tran_clean_df1= savings_tran_clean_df1.rename(columns={'tran_amt': 'savings_tran_count'})
savings_tran_clean_df1.head(2)

In [ ]:
savings_tran_clean_df2 = savings_tran_clean.groupby(['cust_id']).mean()
savings_tran_clean_df2= savings_tran_clean_df2.rename(columns={'tran_amt': 'savings_tran_avg'})
savings_tran_clean_df2.head(2)

In [ ]:
result_checking_tran_clean=pd.concat([savings_tran_clean_df1,savings_tran_clean_df2],axis=1, join="inner").reset_index()
savings_result=result_checking_tran_clean

In [ ]:
# exporting the cleaned data as a CSV file 
savings_result.to_csv('data/savings_result.csv',index=False)