In [1]:
import pandas as pd
import numpy as np

In [5]:
accounts=pd.read_csv('data/twm_accounts.csv')
accounts.head()

  acct_nbr;cust_id;acct_type;account_active;acct_start_date;acct_end_date;starting_balance;ending_balance
0  13628063;1362806;SV  ;Y ;10.12.1995;NULL;1430....
1  4561143213627090;1362709;CC  ;Y ;15.3.1993;NUL...
2  4561143213628360;1362836;CC  ;Y ;18.3.1992;NUL...
3  13633112;1363311;CK  ;Y ;6.7.1995;NULL;11017.1...
4  4561143213633610;1363361;CC  ;Y ;17.6.1994;NUL...

In [8]:
customer=pd.read_csv('data/twm_customer.csv')
customer.head()

  cust_id;income;age;years_with_bank;nbr_children;gender;marital_status;name_prefix;first_name;last_name;street_nbr;street_name;postal_code;city_name;state_code
0  1362691;26150;46;5;1;M ;2;        ;Donald     ...
1  1362487;6605;71;1;0;M ;2;        ;ChingDyi    ...
2  1363160;18548;38;8;0;F ;1;        ;Rosa       ...
3  1362752;47668;54;3;0;F ;1;        ;Lisa       ...
4  1362548;44554;59;9;2;F ;4;        ;Barbara    ...