In [50]:
import pandas as pd
import numpy as np

In [52]:
transactions_result = pd.read_csv('data/transactions_result.csv')
transactions_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393 entries, 0 to 1392
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   acct_nbr      1393 non-null   int64
 1   tran_amt      1393 non-null   int64
 2   avg_tran_amt  1393 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 32.8 KB

In [56]:
# Read the checking_result data
checking_tran = pd.read_csv('data/checking_result.csv')
checking_tran['cust_id']=checking_tran['cust_id'].astype(int)
checking_tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              520 non-null    int32
 1   checking_tran_count  520 non-null    int64
 2   checking_tran_avg    520 non-null    float64
dtypes: float64(1), int32(1), int64(1)
memory usage: 10.3 KB

In [57]:
credit_tran = pd.read_csv('data/credit_result.csv')
credit_tran['cust_id']=credit_tran['cust_id'].astype(int)
credit_tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cust_id            452 non-null    int32
 1   credit_tran_count  452 non-null    int64
 2   credit_tran_avg    452 non-null    float64
dtypes: float64(1), int32(1), int64(1)
memory usage: 9.0 KB

In [62]:
join_checking_credit = pd.concat([checking_tran, credit_tran], axis=1, join="outer")
join_checking_credit

,cust_id,checking_tran_count,checking_tran_avg,cust_id,credit_tran_count,credit_tran_avg
0,1362480,93,76.888710,1362480.0,31.0,191.106129
1,1362484,98,71.330918,1362484.0,55.0,182.569636
2,1362485,96,80.350625,1362485.0,72.0,175.404861
3,1362486,25,43.256000,1362487.0,32.0,149.162813
4,1362487,52,62.400577,1362489.0,34.0,326.287647
...,...,...,...,...,...,...
515,1363483,99,48.792626,NaN,NaN,NaN
516,1363484,99,77.905354,NaN,NaN,NaN
517,1363492,87,72.240690,NaN,NaN,NaN
518,1363493,95,110.515579,NaN,NaN,NaN
519,1363495,98,79.289490,NaN,NaN,NaN

In [31]:
savings_result = pd.read_csv('data/savings_result.csv')
savings_result.head()

   cust_id  savings_tran_count  savings_tran_avg
0  1362480                  26        128.769231
1  1362484                  31         81.172581
2  1362486                  25         55.033600
3  1362487                  19         46.711579
4  1362489                  22         97.195909