In [2]:
import pandas as pd
import numpy as np

In [27]:
transactions_result = pd.read_csv('data/transactions_result.csv')
transactions_result.head()

   tran_amt  avg_tran_amt
0        96     99.535208
1        26    128.769231
2        99     77.955758
3        33    120.860606
4        99    103.074444

In [23]:
# Read the checking_result data
checking_tran = pd.read_csv('data/checking_result.csv')
checking_tran.head()

   checking_tran_count  checking_tran_avg
0                   93          76.888710
1                   98          71.330918
2                   96          80.350625
3                   25          43.256000
4                   52          62.400577

In [25]:
credit_tran = pd.read_csv('data/credit_result.csv')
credit_tran.head()

   credit_tran_count  credit_tran_avg
0                 31       191.106129
1                 55       182.569636
2                 72       175.404861
3                 32       149.162813
4                 34       326.287647

In [26]:
savings_result = pd.read_csv('data/savings_result.csv')
savings_result.head()

   savings_tran_count  savings_tran_avg
0                  26        128.769231
1                  31         81.172581
2                  25         55.033600
3                  19         46.711579
4                  22         97.195909